<div class="container">
  {{> header}}
  {{> notifications}}
  <main>
    <h1>{{name}}</h1>
    <img class="cube" src={{url}}>
    <div class="details">
      <p><span>Description:</span>{{description}}</p>
      <p><span>Difficulty level:</span>{{level}}</p>
      <a class="btn" href="/">Back</a>
      {{#if isCreator}}
      <a class="btn" href="/delete/{{_id}}">Delete</a>
      <a class="btn" href="/edit/{{_id}}">Edit</a>
      {{/if}}
      <a class="btn2" href="/attach/accessory/{{_id}}">attachAccessory</a>
    </div>
  </main>
  <h2>Accessories</h2>
  {{#if accessory}}
  <div class="accessories">

      {{addCubeId accessory _id}}

      {{#each accessory}}
         {{> accessInDetails}}
      {{/each}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/if}}
  </div>
</div>