<div class="container">
  {{> header}}
  <main>
    <h1>{{cube.name}}</h1>
    <img class="cube" src={{cube.url}}>
    <div class="details">
      <p><span>Description:</span>{{cube.description}}</p>
      <p><span>Difficulty level:</span>{{cube.level}}</p>
      <a class="btn" href="/">Back</a>
      <a class="btn" href="/delete/{{cube._id}}">Delete</a>
      <a class="btn2" href="/attach/accessory/{{cube._id}}">attachAccessory</a>
    </div>
  </main>
  <h2>Accessories</h2>
  {{#if accessory}}
  <div class="accessories">

      {{addCubeId accessory cube._id}}

      {{#each accessory}}
         {{> accessInDetails}}
      {{/each}}
    {{else}}
    <h3 class="italic">This cube has no accessories yet...</h3>
    {{/if}}
  </div>
</div>